body {
	margin:0;
	padding:0;
	border:0;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #333;
	background:#f0f0f0;
}
.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

a, a:visited {
	text-decoration:none;
	color:#3583f2;
}
a:hover, a:active {
	color:#0f67e5;
}

header {
	background: #1d1d1d;
	color: white;
	box-shadow: 0 0.3em 0.3em rgba(0,0,0,0.5);
}

header img {
	height: 5em;
	vertical-align: middle;
}

header h1 {
	font-weight: 300;
	display: inline;
	margin: 0 0.3em;
}

header h2 {
	font-weight: 300;
	margin: 0 0.3em;
}

main {
	margin: 1em;
}

form {
	margin: 0 auto;
	width: 28em;
}

input[name="picker"] {
	border:0;
	height: 150px;
	width: 150px;
	float: left;
	padding: 0;
	margin-top: -4px;
	margin-right: 1em;
	margin-bottom: 1em;
}

input[name="h"] {
	display: block;
	border: 1px solid #333;
	margin: 0;
	margin-bottom: 1em;
	padding: 0 0.5em;
	font-size: 1rem;
	line-height: 1.5em;
	border-radius: 3px;
	width: 15.3em;
}

input[type="number"] {
	border: 1px solid #333;
	margin: 0;
	padding: 0 0.5em;
	font-size: 1rem;
	line-height: 1.5em;
	border-radius: 3px;
	width: 3em;
}

input[name="output"] {
	display: block;
	border: 1px solid #333;
	margin: 0;
	padding: 0 0.5em;
	font-size: 1rem;
	line-height: 1.5em;
	border-radius: 3px;
	width: 25.6em;
}

#armor {
	margin: 0 auto;
	width: 64px;
	display: block;
}

footer {
	text-align: right;
	background: #1d1d1d;
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	width: 100%;
	box-shadow: 0 -0.3em 0.3em rgba(0,0,0,0.5);
}

@media screen and (max-width: 28em) {
	form {
		width: 16.4em;
	}
	input[name="picker"] {
		width: 100%;
	}
	input[name="output"] {
		width: 15.3em;
	}
}